.App {
  display: flex;
  height: 100vh;
  background-color: burlywood;
}

/* left side */
.left {
  flex: 2;
  background-color: rgb(226, 203, 174);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background: rgb(2, 0, 36);
  background: linear-gradient(
    90deg,
    rgba(2, 0, 36, 1) 0%,
    rgba(9, 121, 78, 0.9920343137254902) 35%,
    rgba(0, 212, 255, 1) 100%
  );

  background-image: url("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQPA8PRk00r_LSaDuIzLli-Kq0kzwO7stSkhw&usqp=CAU");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.head_container {
  margin-top: 80px;
  height: 100px;
  width: 80%;
  border: 1px solid rgb(211, 185, 185);
  background-color: rgb(228, 222, 212);
  border-radius: 20px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.courter_circle {
  height: 40px;
  width: 40px;
  border-radius: 50%;
  border: 3px solid rgb(194, 127, 127);
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 3px;
  background-color: rgb(248, 245, 239);
}

h3 {
  font-weight: 100;
}
.quiz_container {
  margin-top: 30px;
  height: 70%;
  width: 80%;
  border: 1px solid rgb(211, 185, 185);
  background-color: rgb(228, 222, 212);
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  /* align-items: center; */
  justify-content: space-around;
}

.question {
  border: 1px solid rgb(211, 185, 185);
  margin-top: 40px;
  margin-left: 20px;
  margin-right: 20px;
  height: 70px;
  border-radius: 10px;
  padding: 9px 0 0 9px;
  background-color: rgb(199, 186, 211);
}

span {
  font-weight: 100;
}

.choice {
  border: 1px solid rgb(211, 185, 185);
  margin-top: 40px;
  margin-left: 20px;
  margin-right: 20px;
  height: 200px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  border-radius: 10px;
  cursor: pointer;
  background-color: rgb(199, 186, 211);
  /* back color */
}

.choiceItem {
  /* border: 1px solid rgb(211, 185, 185); */
  height: 40px;
  width: 45%;
  border-radius: 10px;
  box-shadow: 3px 3px 5px rgb(211, 194, 194);
  transition: 0.5s;
  background-color: rgb(192, 223, 190);
  padding: 5px 0 0 5px;
}

.answer {
  background-color: red;
}

.choiceItem:hover {
  box-shadow: 10px 10px 5px rgb(73, 69, 69);
  font-size: 20px;
}

.btn_container {
  margin-top: 40px;
  margin-left: 20px;
  margin-right: 20px;
  height: 40px;
  border-radius: 10px;
  padding: 9px;
  background-color: rgb(199, 186, 211);
  border: 1px solid rgb(211, 185, 185);
  display: flex;
  justify-content: space-between;
}

.btn {
  width: 100px;
  border-radius: 5px;
  border: none;
}

.btn:hover {
  background-color: rgb(192, 223, 190);
}

.right {
  flex: 1;
  background-color: rgb(235, 242, 234);
}

.right_container {
  border: 1px solid black;
  height: 90%;
  margin: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  width: 80%;
}
